## Copyright (C) 2001-2010 iFLYTEK.
## Use ';' and '#' character for notation
## Note: Commands in this cfg file is case sensitive

[local]
timeout                          = 15000
pre_connect                      = 0
search_best_url                  = 0
upload_info                      = 1

[aiui]
#aiui_sync_url                    = http://172.16.154.43:8080/sync/v1/upload.do
#aiui_third_url                   = http://172.16.154.10:8080/sync/v1/syncthird.do
#aiui_prs_url                     = http://172.16.154.17:1289/aiui/prs/app/v1/upload.do
#aiui_opsync_url                  = https://172.16.154.21:443/athena/opsync

##����
#aiui_up_url                      = http://aiui.openspeech.cn:1032/aiui/v1/upload.do
#aiui_pushnode_url                = http://aiui.openspeech.cn:80/aiui/v1/pushnode.do
#aiui_chid_url                    = https://aiui.openspeech.cn:443/v1.1/server/register
##���Ի���
#aiui_up_url                      = http://172.16.154.43:1032/aiui/v1/upload.do
#aiui_pushnode_url                = http://172.16.154.43:80/aiui/v1/pushnode.do
#aiui_chid_url                    = http://172.16.154.43:443/v1.1/server/register
##aiui��־
#no_sessinfodata                  = 1
sessinfodata                     = sessinfo.txt
##�����ʱʱ��
rslt_timeout                     = 5000
##��ȡchid��ʱ
chid_timeout                     = 3000
##��ȡpushnode��ʱ
pushnode_timeout                 = 3000
##������������û���յ���������Ӧ������ʱ��
down_stream_timeout              = 20000
##��������һ��ʱ��û��������Ͽ�����
up_stream_req_timeout            = 50000
##��������һ��ʱ��û���յ���Ӧ�����������ӵ���Ϣ�����л�����Ϣ�ڵȴ���Ӧ���ؽ�����
up_stream_resp_timeout           = 3000
##����������ʱ��һ��ʱ��û�����ݣ�����һ��������
heart_beat_timeout               = 15000
##׼����ʱ����������һ��ʱ��֮�ڣ���ʹ�Ѿ�׼�����ˣ�Ҳ��ҵ�����Ϊû��׼���ã����ڲ����װ���ѹ����
ready_delay_timeout              = 1
##��ȡchid�쳣ʱ����ʱһ��ʱ���ٴ�����
chid_delay_reset_timeout         = 3000
##��ȡpushnode�쳣ʱ����ʱһ��ʱ���ٴ�����
pushnode_delay_reset_timeout     = 3000
##��������һ��ʱ��û�����������»�ȡchid��pushnode��Ĭ��ֵ42000000��11Сʱ40���ӣ�
reset_chid_pushnode_timeout      = 42000000
##stmid_q�е�Ԫ�س�����ֵʱ����ǰ�濪ʼɾ�������������ô�����ͬ��stmidͬʱ������Ĭ��ֵ20
stmid_q_max                      = 20

[tts]
##�ϳ����������ı����ȣ���Χ(0, 4096]��Ĭ��ֵ1024��
max_text_size                    = 1024
##��Ƶ��������С�����ڱ��غϳ�ʱ��Ч��Ϊÿ�η��ص���Ƶ���ݴ�С��
buff_size                        = 8192

[asr]
##�����Ƶ���ȣ���λByte����Χ(0, 1MB]��Ĭ��ֵ256KB
max_audio_size                   = 262144
##��С��Ƶ���볤�ȣ���λByte����Χ(0, max_audio_size]��Ĭ��ֵ5KB
coding_chunk_size                = 5120
##�Ƿ�ʹ��VAD���ж˵�����߽���
vad_enable                       = true
##��Ƶ�����㷨��ģʽ��audio_coding��coding_levelȡֵ��Χ���±���ʾ��Ĭ��ֵ�ֱ�Ϊspeex-wb��7��
#     ----------------------------------
#     |  audio_coding   | coding_level |
#     ----------------------------------
#     |  speex          |    0-10      |  
#     |  speex-wb       |    0-10      |  
#     |  raw            |    ��Ч      | 
#     ----------------------------------
audio_coding                     = speex-wb
coding_level                     = 7

[hcr]
##������ݳ��ȣ���λByte����Χ(0, 16KB]��Ĭ��ֵ8KB
max_data_size                    = 8192

[isv]
##�����Ƶ���ȣ���λByte����Χ(0, 2MB]��Ĭ��ֵ512KB
max_audio_size                   = 524288
##��С��Ƶ���볤�ȣ���λByte����Χ(0, max_audio_size]��Ĭ��ֵ5KB
coding_chunk_size                = 5120
##��Ƶ�����㷨��ģʽ��audio_coding��coding_levelȡֵ��Χ���Բο�asr��
audio_coding                     = speex-wb
coding_level                     = 7

[logger]
##����û�ָ������־�ļ�·����Ч����ôMSC�������н������¼��־��Ϣ
file                             = msc.log
title                            = Mobile Speech Client
level                            = -1
output                           = 1
filter                           = -1
style                            = -1
flush                            = 0
maxsize                          = 104857600
overwrite                        = 1
maxfile                          =
